<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
</head>
<h1> [[${@environment.getProperty('VERSION')}]] </h1>
<h1 th:style="'color: '+ ${@environment.getProperty('DATABASE')}"> Database </h1>

<!--In Memory icons-->
<div th:if="${@environment.getProperty('RESOURCES')} == 'InMemory'">
    <img th:src="@{images/staging-sqlite.jpg}" width="200" height="250" alt="Sqlite"/>
    <img th:src="@{images/staging-kafka.jpg}" width="270" height="250" alt="Kafka"/>
</div>

<!--Production-->
<div th:if="${@environment.getProperty('RESOURCES')} == 'Production'">
    <img th:src="@{images/production-database.jpg}" width="200" height="220" alt="Azure SQL"/>
    <img th:src="@{images/production-eventhub.jpg}" width="200" height="250" alt="EventHub"/>
</div>

</html>